.fll {
  float: left;
}

.flr {
  float: right;
}

.clearfix {
  &::after{
    content: '';
    display:block;
    clear: both;
  }
}

.w1200 {
  width: 1200px;
  margin: 0 auto;
}

.w840 {
  width: 840px;
}

.w360 {
  width: 360px;
}

.w870 {
  width: 870px;
}

.w300 {
  width: 300px;
}
.pd-15 {
  padding-bottom: 15px; 
}

.mg-20{
  margin-top: 20px;
}

.bg-fa {
  background: #fafafa;
  height: 100%;
  min-width: 1200px;
}

.w810{
  width: 810px;
}

a{
  text-decoration: none;
}

.bread {
    font-size: 12px;
    font-family: "SimSun";
    color: rgb( 153, 153, 153 ) !important;
    text-align: justifyLeft;
    padding: 20px 0 15px;
    a {
    font-size: 12px;
    font-family: "SimSun";
    color: rgb( 153, 153, 153 ) !important;
    }
}

  //内容
  .person_content {
    width: 960px;
    min-height: 900px;
    background: #fff;
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
  }

  ._666 {
    color:#999;
  }

  .toast_success{
    background: url(/static/img/success.png) no-repeat center;
    background-size: contain;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  .toast_error{
    background: url(/static/img/error.png) no-repeat center;
    background-size: contain;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  .toast_title {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
  }
  .toast_content {
    text-align: center;
  }